body{
    font-family: 'Caveat';
}
.back-img{
    background-image: url("../img/back-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: 100vh;
}
.container{
    padding: 100px 0;
    background-color: #030407;
    max-width: 100%;
}
.container img{
    border-radius: 25px;
    width: 500px;
    height: 500px;
    box-shadow: 5px 5px 15px 5px rgba(243, 239, 239, 0.75);
}
.img{
    width: 500px;
}
.aos-animate{
    width: 500px;
}
.text-color{
    color: goldenrod;
}
.text-size{
    font-size: 40px;
    font-weight: 600;
}
.inst{
    color: #fff;
}
.inst:hover{
        background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
        border-radius: 15px;

}
@media(max-width: 990px){
    .back-img{
        height: 45vh;
    }
    .d-block{
        height: 400px;
    }
    .container img{
        width: 90%;
        height: 40%;
    }
    .text-size{
        font-size: 30px;
    }
    .img{
        max-width: 100%;
    }
    .aos-animate{
        width: 100%;
    }
    .col-width{
        padding: 0 0 0 8%;
        width: 100%;
    }
}